@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  /* background: #fafafa; */
  /* border-radius: 5px; */
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea; */
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.detailList {
  margin-top: 6px;
  /* margin-bottom: 180px; */
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}
.listBgColor {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: "Recursive", sans-serif;
  margin: auto !important;
  margin-top: 10px;
}

.listBorder {
  /* border: 20 !important; */
  /* border-color: white !important; */
  background-color: transparent;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border: none;
}

.listImgContent {
  border-radius: 30px 120px 30px 60px !important;
  width: 400px;
  height: 400px;
  
}

.listCenter {
  text-align: center;
}
.listDiv{
  background-color: rgb(252, 166, 27);
  width: 40px;
  height: 40px;
  border-radius: 0px 0px 20px 0px !important;
}

.listMyFont {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}


.listCol{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.listRow{
  margin: auto !important;
}
.listCon{
  /* background-color: #fafafa !important; */
  margin-top: 0 !important;
}
@media only screen and (max-width: 575px) {
  .listImgContent {
    border-radius: 10px 10px 10px 10px !important
  }
  .listMyFont {
    font-size: 15px;
  }
  .listDate {
    font-size: 13px;
  }
  .detailList{
    font-size: 12px;
  }
}
@media only screen and (max-width: 413px) {
  .listImgContent {
   width: 220px;
   height: 220px;
  }
}


@media (min-width: 414px) and (max-width: 575px) { 
  .listImgContent {
    width: 320px;
    height: 320px;
   }
}

@media (min-width: 576px) and (max-width: 768px) { 
  .listMyFont {
    font-size: 14px;
  }
  .listDate {
    font-size: 8px;
  }
  .listImgContent {
    border-radius: 15px 20px 15px 20px !important;
    width: 350px;
    height: 350px;
  }
  .detailList{
    font-size: 16px;
  }
}


@media (min-width: 768px) and (max-width: 991px) { 
  .listImgContent {
    width: 300px;
    height: 300px;
  }
}
